.banner {
  position: relative;
  margin-top: 100px;
  &::after {
    content: url("./../../../assets/image\ 1.png");
    position: absolute;
    right: 0;
    top: 0;
  }
  .diagonal {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: absolute;
    content: url("./../../../assets/diagonal-banner.png");
    left: 38.7%;
    top: 0;
    z-index: 30;
    background: transparent;
  }
  .right {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: absolute;
    left: 0;
    top: 0;
    content: url("../../../assets/image\ 1.png");
    filter: blur(20px);
  }
  .content {
    position: absolute;
    top: 200px;
    left: 150px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    h2,
    h1,
    p, .button-container {
      background: transparent;
    }
  }
}

h2 {
  font-size: 50px;
  color: white;
}
h1 {
  font-size: 80px;
  color: #a9bff3;
}
p{
    color: black;
}

.first-button {
    background-color: #2860E1;
    border-radius: 25px;
    font-size: 18px;
    color: white;
}

.second-button {
    color: white;
    font-size: 18px;
}